#modal-root > div{
  position: absolute;
  z-index: 999;
  top: 0px;
  right: 0px;
  width: 100vw;
  min-width: 620.38px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
